html {
    font-size: 50px;
}

body {
    font-size: 24px;
}

@media screen and (min-width:320px) {
    html {
        font-size: 21.33px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 24px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 25px
    }
    body {
        font-size: 12px
    }
}

@media screen and (min-width:384px) {
    html {
        font-size: 25.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 26.67px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 27.6px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:424px) {
    html {
        font-size: 28.27px
    }
    body {
        font-size: 14px
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 32px
    }
    body {
        font-size: 15.36px
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 36px
    }
    body {
        font-size: 17.28px
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 48px
    }
    body {
        font-size: 23.04px
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 24px
    }
}

header {
    height: 1.8rem;
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
}

header .logo {
    width: 3.9rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo h1 {
    width: 3rem;
    height: 0.77rem;
    background: url(../images/logo2.png);
    background-size: cover;
}

header .search {
    flex: 1;
    background-color: salmon;
    border-radius: 200px;
    height: 1rem;
    position: relative;
    background-color: #eee;
}

header .search::after {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.3rem;
    background: url(https://css.mafengwo.net/mobile/images/header/btn_search2.png);
    background-size: cover;
}

header .search input {
    background-color: #eee;
    outline: none;
    border: none;
    width: 85%;
    height: 0.7rem;
    margin-top: 0.15rem;
    margin-left: 0.5rem;
}

header .login {
    width: 1.625rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 14px;
    color: orange
}

.banner {
    height: 8.43rem;
    overflow: hidden;
}

.banner .carousel1 {
    /* width: 15rem; */
    width: 100%;
    height: 8.44rem;
}

.banner .carousel1 img {
    width: 100%;
    height: 100%;
}

.carousel1 .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    margin: 0 !important;
    background-color: orange
}

nav {
    margin-bottom: 10px;
}

nav .row {
    display: flex;
    margin-top: 10px;
}

nav .row .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .row .list a {
    display: block;
    width: 2rem;
    height: 2rem;
    background: url(../images/i_nav6.png) no-repeat;
    background-size: 8rem auto;
}

nav .row .n0 a {
    background-position: 0 0;
}

nav .row .n1 a {
    background-position: -2rem 0;
}

nav .row .n2 a {
    background-position: -4rem 0;
}

nav .row .n3 a {
    background-position: -6rem 0;
}

nav .row .n4 a {
    background-position: 0 -2rem;
}

nav .row .n5 a {
    background-position: -2rem -2rem;
}

nav .row .n6 a {
    background-position: -4rem -2rem;
}

nav .row .n7 a {
    background-position: -6rem -2rem;
}

#hot {
    border-left: 5px solid orange;
    height: 1rem;
    line-height: 1rem;
    padding-left: 4px;
    font-size: .6rem;
    background-color: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
}